body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: lightcyan;
}

h1 {
    text-align: center;
    color: darkcyan;
    font-size: 80px;
}

form {
    max-width: 500px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: x-large;
}

input[type="text"],
input[type="date"],
input[type="number"] {
    width: 100%;
    height: 25px;
    padding: 8px;
    margin-bottom: 10px;
    border: 2px solid #0a449b;
    border-radius: 2em;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button {
    
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 5px 2px;
    cursor: grab;
    border-radius: 2em;
    font-weight: bold;
}



button#submitBtn {
    background-color: #1c21aa;
    
    
}

button#cancelBtn {
    background-color: #95279f;
    cursor: no-drop;
}

#studentList {
    max-width: 400px;
    margin: 20px auto;
}

#studentList div {
    background-color: #87b2ef;
    border: 1px solid #ddd;
    margin: 5px 0;
    padding: 10px;
    border-radius: 1em;
    color: #020721;
}

button#editBtn{
    margin-top: 5px;
    padding: 8px 18px;
    border: none;
    background-color: #346dc7;
    color: white;
    cursor:pointer ;
    
}
button#deleteBtn {
    margin-top: 5px;
    padding: 8px,18px;
    border: none;
    background-color: #cb255d;
    color: white;
    cursor: no-drop;
    
}

footer {
            background-color: skyblue;
            color: white;
            text-align: center;
            padding: 10px 0;
            position: float ;
            bottom: 0;
            width: 100%;
        }
